/* not required */
*,
:active {
  outline: none;
}

* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 20px;
  background-color: #EEEDE9;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 96.5%;
  font-family: Helvetica, Arial, sans-serif;
}

input {
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-bottom: 10px;
}

p {
  line-height: 20px;
}

a {
  text-decoration: none;
  color: #FF462B;
}

.clearfix {
  clear: both;
}

.animate {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


/* required */
.calendar {
  position: absolute;
  border-radius: 4px;
  overflow: hidden;
  width: 800px;
  height: 450px;
  left: 50%;

  margin-left: -400px;
  margin-top: -225px;
  top: 50%;
  background-color: #ffffff;
  color: #333333;
}

.calendar h1,
.calendar h2 {
  font-weight: 300;
  font-size: 26px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.calendar h1 span {
  display: block;
}

.calendar .col {
  position: relative;
  float: left;
  height: 100%;
}

.calendar .col .content {
  padding: 40px;
}

.calendar ul {
  margin: 0px;
}

.calendar ul li {
  list-style: none;
}

.calendar .leftCol {
  width: 40%;
  background-color: #80adaa;
}

.calendar .noteList li {
  color: #ffffff;
  margin-bottom: 10px;
}

.calendar .notes p,
.calendar .notes input,
.calendar .noteList li {
  font-weight: 300;
  font-size: 14px;
}

.calendar .notes p {
  
}

.calendar .notes input {
  background-color: #F48989;
  color: #ffffff;
  border: none;
}

#noteContent {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
   color: #747978;
   font-weight: bold;

   position: relative;
   top:10px;
}
#ibutton {
   position: relative;
   top:10px;
   width: 100%;
   height: 6%;

   background-color: #e3e3cc;
   text-align: center;
   color: white;
   /*padding: 14px 20px;*/
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}
#ibutton:hover {
   background-color: #d1d1b8;
}

.calendar .addNote,
.calendar .removeNote {
  float: right;
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
  margin-left: 20px;
}

.calendar .addNote:hover,
.calendar .removeNote:hover {
  color: #ffffff;
}

.calendar .addNote {
  font-size: 16px;
}

.calendar .leftCol h1 {
  color: #ffffff;
  margin-bottom: 40px;
}

.calendar .rightCol {
  width: 60%;
}

.calendar .rightCol h2 {
  color: #C7BEBE;
  text-align: right;
  margin-bottom: 70px;
}

.calendar .months li,
.calendar .weekdays li,
.calendar .days li {
  float: left;
  text-transform: uppercase;
}

.calendar .months li a,
.calendar .weekdays li a,
.calendar .days li a {
  display: block;
  color: #747978;
}

.calendar .months li a {
  font-size: 10px;
  color: #C7BEBE;
  text-align: center;
  width: 32px;
  margin-bottom: 20px;
}

.calendar .months li .selected {
  font-weight: bold;
  color: #747978;
}

.calendar .weekdays li a {
  width: 55px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
}

.calendar .days li {
  width: 55px;
}

.calendar .days li a {
  width: 36px;
  height: 24px;
  text-align: center !important;
  margin: auto auto;
  font-size: 12px;
  font-weight: bold;
  border-radius: 12px;
  margin-bottom: 10px;
  padding-top: 10px;
}


.calendar .days li a:hover {
  background-color: #EEEDE9;
}

.calendar .days li .selected {
   padding-top: 8px;
   width: 36px;
     height: 34px;
   border: 2px solid #8f8989;
   box-sizing: border-box;
   /*background-color: #F5A1A3 !important; */
   /*color: #333333; */


}

.calendar .days li .event {
  color: #F5A1A3;
}


/* Range Slider(noteProgress) */
.slidecontainer {
  width: 120px; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 250px; /* Full-width */
  height: 7px; /* Specified height */
  background: #d3d3d3 !important; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  position: relative;
  top: 10px; left: -10px;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #e3e3cc; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #e3e3cc; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

span {
   color: white;
   width: 400px;
   display: inline-block;
}

/* Postit Decoration */
.post-it {
  height: 115px;
  width: 220px;
  margin: 50px;
  padding: 25px 10px 10px 10px;
  border:1px solid #9ed7db;
  border-bottom-right-radius: 60px 20px;
  position: relative; 
  top: -30px;
  left:-50px;
  text-align: center;
  display: inline-block;
  word-wrap: break-word;
}

.post-it:after {     
  content: "";
  position:absolute;
  z-index:-1;
  right:-0px; bottom:20px;
  width:200px;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.blue {
  background: linear-gradient(135deg, #9ed7db 81%,#9ed7db  82%,#a5e4e8 82%,#c2f9fc 100%);
    border-top:60px solid #9ed7db;
}
 
#contents {
	position: relative;
	top: -80px;
}
}



